doctype html
- const version = +new Date()

html(lang='zh-Hant-TW')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    meta(name='description' content='第 N 屆公開圈圈叉叉大賽開始了！')
    meta(name='apple-mobile-web-app-capable' content='yes')
    meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')
    meta(name='apple-touch-fullscreen' content='yes')
    meta(name='apple-mobile-web-app-title' content='公開圈圈叉叉大賽')
    meta(name='mobile-web-app-capable' content='yes')
    link(rel='icon' href='logo.png')
    link(rel='apple-touch-icon' href='logo.png')
    title 公開圈圈叉叉
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/reset-css@4.0.1/reset.min.css')
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.4.1/css/all.css', integrity='sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz' crossorigin='anonymous')
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css')
    link(rel='stylesheet' href=`style.css?v=${version}`)
    link(rel='stylesheet' href=`animation.css?v=${version}`)
  body
    #app
      main(v-cloak)
        transition(name='full-loader')
          #full-loader(v-if='!game') 
            i.fas.fa-circle-notch.fa-spin
            //- .ooxx
            //-   .box
            //-     - let oxCounter = 0
            //-       while (oxCounter++) < 100
            //-         span.type.circle {{ circleText }}
            //-         span.type.cross {{ crossText }}
              
        .container  
          .row.text-center
            .col-12
              #logo
                h1(title='(華麗的) 公開圈圈叉叉大賽' @click='game && togglePage(2)') {{ circleText.repeat(2) + crossText.repeat(2) }}
                h2(v-if='round' :key='round' :style='logoRoundStyle' title='你以為這只是單純的圈圈叉叉遊戲嗎？ 恩沒有錯哦')  第 #[b {{ round }}] 屆
        
            .col-12
              #loading(v-if='!game')
                i.fas.fa-circle-notch.fa-spin
            .col-lg-3.col-md-4
              #cat(v-if='cat')
                img.img-fluid(:src='cat')
                
            transition(name='show-up')
              .col-12.col-lg-6.col-md-4(v-if='game' v-show='page === 0')
                #config
                  div 
                    a.circle(href='#' @click.prevent='me = 1' :class='{ active: me === 1 }') {{ circleText }}
                    a.cross(href='#' @click.prevent='me = 2' :class='{ active: me === 2 }') {{ crossText }}
                    
                #status
                  .winner(v-if='isWaiting') 
                    span(v-if='this.game.result.winner === 3') 平手
                    span(v-else)
                      | 贏家是 {{ convertNumberToTypeText(this.game.result.winner) }}
                      span(v-if='me === this.game.result.winner') ，你真是棒棒噠
                      b(v-else title='你真的很讓我失望') ，加油好嗎？
                    span.interval(title='稍後下一屆即將開始...') #[i.fas.fa-stopwatch] {{ (parseInt(timeToStart) + 1) }} 
                  .anyone(v-else-if='!this.game.previous') 準備好就直接開始
                  .enabled.flash(v-else-if='isEnabled') #[i.fas.fa-hand-point-down] 換你了
                  .disabled(v-else) #[i.fas.fa-stopwatch] 等對方下...
                  
                #board(:class='{ waiting: isWaiting, disabled: !isEnabled }')
                  
                  - let row = 0
                  while row < 3
                    .row
                      - let col = 0
                      while col < 3
                        .block(id=`b${row}${col}` ref=`b${row}${col}` @click=`clickBlock(${row}, ${col})` :class=`{ previous: isBlockPrevious(${row}, ${col}) }`)
                          - if(row === 1 || col === 1)
                            .line(:class=`getLineClass(${row}, ${col})`)
                          transition(name='block-item')
                            span.circle(v-if=`board[${row}][${col}] === 1` key=`O${row}${col}`) {{ circleText }}
                          transition(name='block-item')
                            span.cross(v-if=`board[${row}][${col}] === 2` key=`X${row}${col}`) {{ crossText }}
                        - col++ 
                    - row++
                
            .col-11.col-lg-3.col-md-4(v-if='game' v-show='page === 0')
              #chat
                ul(ref='chatList')
                  transition-group(name='chat-item' mode='out-in')
                    li(v-for='(i, id, index) in chat' :key='id' :style='{ opacity: .2 + index * 0.10 }'  :title='convertDate(i.date)')
                      .info(v-if='i.name === `info`') 
                        | {{ i.content }}
                      div(v-else)
                        b [{{ i.name }}] 
                        span.content {{ i.content }}
                .input-area
                  span.icon #[i.fas.fa-comment-alt]
                  input(type='text' v-model.trim='chatInputText' @keyup.enter='submitChat()' placeholder='' max='100')
      
      #about.container(v-if='page === 1')
        .row
          .col-auto.content
            h2 AUTHOR
            h3 Huang Xingqiao
            h2 LAST UPDATED
            h3= moment(version).format(`YYYY MMM Do HH:mm`)
            
          .col-12.link
            a(href='https://github.com/a92304a92304/tic-tac-toe' target='_blank') #[i.fab.fa-github-alt]
            a(href='https://x-q.me' target='_blank') #[i.fas.fa-home]
            
          .col-12
            .close-btn(@click='togglePage(0)' title='返回') x
            
      #info.container(v-if='page === 2')
        .row
          .col-auto.content
            p.down-to-up.bold(style={ animationDelay: `.2s` }) 第 #[b {{ round }}] 屆公開圈圈叉叉已盛大舉行
            p.down-to-up(style={ animationDelay: `.4s` }) 決定當 #[span.type.circle {{ circleText }} ] 或 #[span.type.cross {{ crossText }} ] 後
            p.down-to-up(style={ animationDelay: `.6s` }) 就能與小夥伴同樂囉
            p.down-to-up.muted(style={ animationDelay: `.8s` }) (最多只能兩個人玩)
          .col-12
            .close-btn(@click='togglePage(0)' title='返回' style={ animationDelay: `1s` }) x
            
      footer(v-if='game')
        a(href='#' @click.prevent='togglePage(1)' v-if='page !== 1') #[i.fas.fa-beer]

    script(src='https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js')
    script(src='https://www.gstatic.com/firebasejs/5.5.5/firebase-app.js')
    script(src='https://www.gstatic.com/firebasejs/5.5.5/firebase-database.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/locale/zh-tw.js')
    script(src='https://unpkg.com/axios/dist/axios.min.js')
    script(src=`bully-browser.js?v=${version}`)
    script(src=`config.js?v=${version}`)
    script(src=`tic.js?v=${version}`)
